    <div class="d-grid align-items-center justify-content-center mt-5">
        <div class="mb-3">
            <h4
                class="text-lg text-center"
                color="primary"
            >
                Login
            </h4>
        </div>

        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input
                type="text"
                matInput
            >
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input
                type="password"
                matInput
            >
        </mat-form-field>
        <button
            mat-button
            mat-flat-button
            color="primary"
            class="mb-3"
        >
            ingresar
        </button>
        <mat-divider></mat-divider>
        <div class="d-flex justify-content-center">
            <i class=" h2 p-1 fa-brands fa-square-facebook"></i>
            <i class=" h2 p-1 fa-brands fa-square-twitter"></i>
            <i class=" h2 p-1 fa-brands fa-square-instagram"></i>
            <i class=" h2 p-1 fa-brands fa-square-google-plus"></i>
            <i class="h2 p-1 fa-brands fa-brands fa-github"></i>
        </div>
    </div>
