    <div class="d-grid align-items-center justify-content-center mt-5">
        <div class="mb-3">
            <h2
                class="text-lg text-center"
                color="primary"
            >
                Login
            </h2>
        </div>
        <form
        [formGroup]="myForm"
        (ngSubmit)="submit()"
        class="d-grid"
    >
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input
                type="text"
                matInput
            >
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input
                type="password"
                matInput
            >
        </mat-form-field>
        <button class="btn btn-outline-primary">ingresar</button>
        </form>
        <div class="text-center mb-2">
          <a href="#">¿No tienes cuenta?</a>
        </div>

        <mat-divider></mat-divider>
        <div class="d-flex justify-content-center">
            <a><i class=" h2 p-1 fa-brands fa-square-facebook"></i></a>
            <a><i class=" h2 p-1 fa-brands fa-square-twitter"></i></a>
            <a><i class=" h2 p-1 fa-brands fa-square-instagram"></i></a>
            <a><i class=" h2 p-1 fa-brands fa-square-google-plus"></i></a>
            <a><i class="h2 p-1 fa-brands fa-brands fa-github"></i></a>
        </div>
    </div>
