
<mat-sidenav-container fullscreen style="overflow-x:hidden" class="p-0 m-0">
  <!-- SideNav Desplegable-->
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width:'250px'}">

    <!-- Desplegable si está en la ruta pages -->
    <mat-toolbar color="accent">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Comprobación de la ruta en la que me encuentro -->
    <div *ngIf="getRootUrl()!='auth'; else auth">
      <mat-nav-list >
        <mat-list-item *ngFor="let item of sidebarItems"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
        >
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        {{item.label}}
        </mat-list-item>

        <!-- Si el usuario tiene la cuenta logueada -->
        <div *ngIf="authenticated()">
          <mat-divider/>
          <mat-list-item
          [routerLink]="cuentaLink.url"
          (click)="sidenav.toggle()"
          >
          <mat-icon matListItemIcon>{{cuentaLink.icon}}</mat-icon>
          {{cuentaLink.label}}
          </mat-list-item>
        </div>
      </mat-nav-list>
    </div>

    <!-- Desplegable si está en la ruta auth -->
    <ng-template #auth>
      <mat-nav-list >
        <mat-list-item *ngFor="let item of noLogeado"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
        >
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        {{item.label}}
        </mat-list-item>
      </mat-nav-list>
    </ng-template>
  </mat-sidenav>

  <!-- Barra fija de Arriba-->

  <!-- Icono del SideNav-->
  <mat-toolbar color="primary" class="p-0">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Columna Vacía para centrar el título-->
    <div class="col"></div>

      <!-- Columna del título y logo-->
    <section class="title row-md d-flex text-center">
      <a routerLink="/pages">
        <img [src]="imagePath" style="height:55px;">
      </a>
  </section>

  <!-- Iconos de la barra -->
    <div class="col text-end">
      <!-- Compruebo que no esté en la ruta auth -->
      <div *ngIf="getRootUrl()!='auth';">
        <!-- Si está autenticado: logout, carrito -->
        <div *ngIf="authenticated()">
          <button [routerLink]="['/pages/cursos']" mat-icon-button>
            <mat-icon>menu_book</mat-icon>
          </button>
          <button (click)="logout()" mat-icon-button>
            <mat-icon>logout</mat-icon>
          </button>
        </div>
        <!-- Si no está autenticado: login -->
        <div *ngIf="!authenticated()">
          <button [routerLink]="['/auth/login']" mat-icon-button>
            <mat-icon>login</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <!-- Contenido de la ruta -->
  <router-outlet/>


  <!-- Comprobación de la ruta para usar un footer fixed o no -->
  <div *ngIf="getRootUrl()!='auth'; else authFooter">
    <my-footer/>
  </div>

  <!-- Necesito que el footer quede pegado abajo siempre en la ruta "/auth" porque si no se queda en medio de la pantalla
      Y si lo dejo siempre fixed se vería feo siempre visible en el resto de páginas
  -->
  <ng-template #authFooter>
    <my-footer class="fixed-bottom"/>
  </ng-template>

</mat-sidenav-container>
