
<mat-sidenav-container fullscreen>
  <!-- SideNav Desplegable-->
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width:'250px'}">

    <!-- Desplegable si está logueado -->
    <mat-toolbar color="accent">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div *ngIf="getRootUrl()!='auth'; else auth">
      <mat-nav-list >
        <mat-list-item *ngFor="let item of sidebarItems"
        [routerLink]="item.url"
        >
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        {{item.label}}
        </mat-list-item>
      </mat-nav-list>
    </div>

    <!-- Desplegable si no está logueado -->
    <ng-template #auth>
      <mat-nav-list >
        <mat-list-item *ngFor="let item of noLogeado"
        [routerLink]="item.url"
        >
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        {{item.label}}
        </mat-list-item>
      </mat-nav-list>
    </ng-template>
  </mat-sidenav>


  <!-- ToolBar-->
  <div class="row">
    <!-- Icono del SideNav-->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- Columna Vacía para centrar el título-->
      <div class="col"></div>

        <!-- Columna del título y logo-->
      <section class="row-md d-flex text-center">
        <h2 class="display-4 mt-3 text-white">LAT</h2>
        <img [src]="imagePath" class="mt-3 rounded-circle" style="height:55px;">
    </section>

    <!-- Iconos, login, carrito, etc-->
      <div class="col text-end">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      </div>

    </mat-toolbar>

  </div>

<router-outlet/>


</mat-sidenav-container>
