<section class="container-fluid primario text-center p-0 mt-2">
  <h1 class="display-3 text-center m-3 secundario">BIENVENIDO A LA ASISTENCIA</h1>
  <section class="col pb-2">
      <p class="mb-1 primario display-5">Estamos aquí para ayudarte</p>
  </section>
</section>

<section class="row align-items-center bg-secundario mt-3 p-0 m-0">
  <section class="container-fluid">
      <h1 class="text-center primario  mb-4 mt-5">PREGUNTAS FRECUENTES</h1>

      <section class="p-3 pl-5 bg-white text-center mb-5 border border-warning lead  ">
          <p ><span class="secundario">¿Se recibe un certificado al completar un
                  curso?</span> <br>
              <span class="primario">Sí, la mayoría de cursos cuentan con un certificado académico.</span>
          </p>
          <p><span class="secundario">¿Puedo reclamar que me devuelvan el dinero?
              </span> <br>
              <span class="primario">En cuanto a la contratación de profesores no, y los cursos siempre que no
                  hayas consumido más de una hora y media del mismo.
              </span>
          </p>
          <p ><span class="secundario">¿Necesito obligatoriamente una conexión a internet?
              </span> <br>
              <span class="primario">Para las clases particulares online obviamente sí, pero puedes
                  descargar tus cursos y consumirlos vía offline.
              </span>
          </p>
          <p><span class="secundario">¿Qué pasa si tengo algún problema con un profesor?
              </span> <br>
              <span class="primario">Deberás contactar con el soporte y nosotros nos encargaremos de
                  lidiar con la situación tomando las medidas oportunas
                  dentro de la plataforma.</span>
          </p>
      </section>
  </section>
</section>


<!-- botones icono -->
<section class="container-fluid primario text-center p-0 mt-4">
  <!-- Fila 1 -->
  <section class="row">
      <!-- Columna 1 -->
      <article class="col-md pr-md-3 text-center border border-warning bg-white m-5">
          <img class="img-fluid" src="../assets/img/Orientacion.png">
          <p class="font-weight-bold">Orientación <br>en la plataforma</p>
      </article>

      <!-- Columna 2 -->
      <article class="col-md pr-md-3 text-center border border-warning bg-white m-5">
          <img class="img-fluid" src="../assets/img/Cuenta.png">
          <p class="font-weight-bold">Problemas <br> con
              mi cuenta</p>
      </article>
      <!-- Columna 3 -->
      <article class="col-md pr-md-3 text-center border border-warning bg-white m-5">
          <img class="img-fluid" src="../assets/img/Tarjeta.png">
          <p class="font-weight-bold">Problemas al pagar
              o devoluciones</p>
      </article>
  </section>
</section>

<!-- Fila 2 -->
<section class="container-fluid text-center p-0 mt-4 ">

  <section class="row">
      <!-- Columna 1 -->
      <article class="col-md pr-md-3 primario text-center border border-warning bg-white m-5">
          <img class="img-fluid" src="../assets/img/Telefono.png">
          <p class="font-weight-bold">Problemas con
              <br> la versión móvil
          </p>
      </article>

      <!-- Columna 2 -->
      <article class="col-md pr-md-3 text-center border border-warning bg-white m-5">
          <img class="img-fluid" src="../assets/img/Engine.png">
          <p class="font-weight-bold ">Reportar un problema técnico</p>
      </article>
      <!-- Columna 3 -->
      <article class="col-md pr-md-3 text-center border border-warning bg-white m-5">
          <img class="img-fluid" src="../assets/img/Operador.png">
          <p class="font-weight-bold">Contactar con <br>
              el personal técnico</p>
      </article>
  </section>
</section>
