
<!-- En caso de que sea para el carrusel -->
<mat-card *ngIf=" cardPC != undefined;">
  <!-- Header del card, en este caso la imagen -->
  <mat-card-header class="p-0 m-0">
    <img class="img-fluid" src="{{cardPC.img}}">
  </mat-card-header>

  <!-- Contenido del card -->
  <mat-card-content class="mt-2">
    <!-- Título -->
    <mat-card-title>
      {{cardPC.cardTitle}}
    </mat-card-title>
    <!-- Subtítulo -->
    <mat-card-subtitle>
      {{cardPC.cardSubtitle}}
    </mat-card-subtitle>
  </mat-card-content>

  <!-- Descripción del artículo -->
  <mat-card-actions>
    <p class="m-2">{{cardPC.cardDescription}}</p>
  </mat-card-actions>
</mat-card>

<!-- En caso de que sea para la página "Categorías" -->
<mat-card *ngIf=" cardCategoria != undefined;">
  <!-- Header del card -->
  <mat-card-header class="p-0 m-0">
    <img class="img-fluid" src="{{cardCategoria.img}}">
  </mat-card-header>

  <!-- Contenido del card -->
  <mat-card-content class="mt-2">
    <!-- Título -->
    <mat-card-title class="text-center font-weight-bold">
      <a href="#" class=" text-decoration-none lead primario mt-2">{{cardCategoria.cardTitle}}</a>
    </mat-card-title>

  </mat-card-content>
</mat-card>
