
  <h2 class="font-weight-bold primario mt-4">{{title}}</h2>
  <div class="row">

    <!-- Flecha para mover el carrusel a la izquierda-->
    <button class="col flechas btn-prev p-0" (click)="prev()"> <mat-icon>arrow_back_ios</mat-icon> </button>

    <div class="col-md-11 p-0">
     <!-- Slider -->
    <ngx-slick-carousel class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    >
      <!-- Bucle para generar un artículo del carrusel por cada uno que tenga -->
      <div ngxSlickItem *ngFor="let slide of slides" class="slide p-0 m-0">
        <article class="mb-2">
          <!-- Articulos creados con Angular Material, Card-->
          <mat-card>
            <!-- Header del card, en este caso la imagen -->
            <mat-card-header class="p-0 m-0">
              <img class="img-fluid" src="https://us-tuna-sounds-images.voicemod.net/213ce138-31ef-4e02-997e-78a82528a457-1667761510799.png">
            </mat-card-header>

            <!-- Contenido del card -->
            <mat-card-content>
              <!-- Título -->
              <mat-card-title>
                {{cardTitle}}
              </mat-card-title>
              <!-- Subtítulo -->
              <mat-card-subtitle>
                {{cardSubtitle}}
              </mat-card-subtitle>
            </mat-card-content>

            <!-- Descripción del artículo -->
            <mat-card-actions>
              <p>{{cardDescription}}</p>
            </mat-card-actions>
          </mat-card>
        </article>
      </div>
    </ngx-slick-carousel>
    </div>

    <!-- Flecha para mover el carrusel a la izquierda-->
    <button class="col flechas btn-next p-0" (click)="next()"> <mat-icon>arrow_forward_ios</mat-icon> </button>

  </div>

