.cuadro-rectangular {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  padding: 0px;
  border: 2px solid;
}

.comentarios{
  flex-grow: 1;
  background-color: white;
  padding: 10px
}
