<div *ngIf="profesor != null">
  <h1 class="display-3 text-center m-3 secundario">{{profesor.username}}</h1>

  <section class="container-fluid border  mt-4 mb-4 pt-4">
    <section class="d-flex col justify-content-around">
        <section>
            <p class="secundario"> <b>País de origen</b><br>
                <span class="primario">{{ profesor.pais ? profesor.pais : 'unknown' }}</span>
            </p>
            <p class="secundario"> <b>Habilidades</b><br>
                <span class="primario">{{ profesor.habilidades?.length ? profesor.habilidades : 'unknown' }}</span>
            </p>
        </section>
        <section>
            <p class="secundario"> <b>Tiempo de respuesta</b><br>
                <span class="primario">{{ profesor.respuesta ? profesor.respuesta : 'unknown' }}</span>
            </p>

            <p class="secundario"> <b>Idiomas</b><br>
                <span class="primario">{{ profesor.idiomas?.length ? profesor.idiomas : 'unknown' }}</span>
            </p>
        </section>
    </section>
    <hr>
    <p class="p-5">
        {{profesor.descripcion ? profesor.descripcion : 'El profesor todavía no ha actualizado su perfil'}}
    </p>
    <hr>
    <section class="row justify-content-around text-center">
        <section class="col">
          <!-- TODO: que los botones activen un modal -->
            <custom-button [text]="'CONTACTO E-MAIL'" class="m-4"/>
        </section>
        <section class="col">
          <custom-button [text]="'TELÉFONO'" class="m-4 "/>
        </section>
    </section>

  </section>

    <!-- Profesor Slide -->
    <profe-destacado-perfil [profesor]="profesor"/>

    <section class="container">
      <slider [slides]="loMasVendido" [title]=" 'Sus cursos' "/>
    </section>
</div>
