<footer class="footer mt-3">
  <div class="bg-secundario pt-3">
    <div class="footer-content container-fluid ">
        <div class="text-center">
          <a><i class=" h2 primario p-1 fa-brands fa-square-facebook"></i></a>
          <a><i class=" h2 primario p-1 fa-brands fa-square-twitter"></i></a>
          <a><i class=" h2 primario p-1 fa-brands fa-square-instagram"></i></a>
          <a><i class=" h2 primario p-1 fa-brands fa-brands fa-github"></i></a>
        </div>
        <div class="enlaces text-center">
            <a> Aviso de privacidad </a>
            <a> Política de cookies </a>
            <a  routerLink="/pages/asistencia"> Soporte técnico </a>
            <a  routerLink="/pages/nosotros"> Acerca de la empresa </a>
        </div>
    </div>
  </div>
</footer>
