.footer {
  display: grid;
  background-color: #f2f2f2;
  height: 100px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  max-width: 1200px;
  padding: 0 20px;
  color: #333;
  gap:0
}

.enlaces{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.enlaces>a, i{
  padding:5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary);
}

.enlaces>a:hover, i:hover{
  background-color: var(--primary);
  color: var(--secondary);
  transition: background-color 0.5s ease, color 0.3s ease;
}
