
<section
    class="row align-items-center p-0 m-0 bg-secundario"
>
    <section class="container-fluid">
        <section class="row p-3 pl-5 bg-white m-5 border border-warning position-relative">
            <section class="col-md">
                <h1 class=" display-4 mt-3 font-weight-bold secundario">Tu profesor favorito</h1>
                <p class="mt-md-5 mb-md-5 medium-font-size primario">
                    <b>{{profe.nombre}}</b>,
                    {{profe.descripcion}}
                </p>
                <img src="../assets/img/Estrellas.png" class="m-4" style="width:50%">
            </section>
            <section class="col-md-3">
                <img
                    class="img-fluid mt-2"
                    src="{{profe.imagen}}"
                >
            </section>
        </section>
    </section>
</section>
