<h1 class="display-3 text-center m-3 secundario">Perfil de {{categoria.name}}</h1>

<mat-divider></mat-divider>

<section class="container-fluid mt-4">
    <slider
        [slides]="loMasVendido"
        [title]=" 'Lo más vendido' "
    ></slider>
</section>
<!-- Profesor promocionado -->
<profe-destacado/>


<section class="container-fluid mt-4">
  <slider
      [slides]="loMasVendido"
      [title]=" 'Lo más vendido' "
  ></slider>
  <slider
  [slides]="loMasVendido"
  [title]=" 'Lo más vendido' "
  ></slider>
</section>
