<section class="bg-image pt-5"
    style="background-image:url('../assets/img/forest.png');background-size: cover; background-position: center; height: 500px;">
    <h1 class="text-center secundario display-1 pt-5 ">NUESTRA EMPRESA</h1>
</section>


<section class="container-fluid primario text-center p-5 fs-4">
  <p class="">Nuestra empresa comienza a raíz de la idea de poder ayudar a los demás con su aprendizaje en
      relación con
      nuestra pasión, la programación.<br><br>

      Para crear esta iniciativa nos inspiramos en los árboles, de ahí la temática. Estudiar programación es como
      la
      ramificación, incluso literalmente su estructura se basa en nodos en forma de árbol.
  </p>
</section>

<section class="row align-items-center bg-secundario p-4 m-0">
  <section class="container-fluid text-center primario">
      <h1 class="text-center primario display-1 ">TRABAJA CON NOSOTROS</h1>
      <p class="mt-5 p-3"> ¿Te interesa trabajar en nuestra empresa?
          Estamos buscando programadores, comerciales y traductores para expandir nuestra empresa.
      </p>
      <p class="p-3">Si crees que tu sitio podría estar entre nosotros,
          ¡Completa el formulario pinchando el siguiente botón!</p>
      <a href="#" class="m-5 col-4 btn btn-outline-primary">FORMULARIO</a>
  </section>
</section>
