<section class="row p-4 m-0 bg-secundario d-flex justify-content-center align-items-center">
  <section class="mt-2 mb-2 p-3 bg-white border border-warning">
    <div class="d-flex justify-content-center align-items-center">
      <iframe width="829" height="466" src="https://www.youtube.com/embed/z95mZVUcJ-E" title="Curso de JAVASCRIPT desde CERO (Completo) - Nivel JUNIOR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </section>
</section>


<section class="container mt-4">
  <h2>CURSO DE JAVASCRIPT! :D</h2>
  <hr>
  <div class="mt-3">
    <h5>Descripción del Curso:</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis nibh vitae metus porta ultrices vel at augue. Vestibulum ornare augue a lacus egestas dictum. Vestibulum fringilla dignissim dui. Maecenas libero nulla, hendrerit at nulla molestie, fringilla finibus nisl. Integer et ipsum lacus. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam pretium in libero sed finibus. Curabitur felis libero, lacinia eu elit ut, volutpat pellentesque mauris. Pellentesque quis nisl quis eros consequat ultrices lobortis ac lectus.

      </div>
  <hr>

  <div class="mt-3">
    <h5>Puedes apoyar el curso en :</h5>
    <p>Bizum, Paypal, donaciones, etc</p>
  </div>
  <hr>
  <div class="mt-3">
    <h5>Disponible en:</h5>
    <p>
      Disponible en iOS y Android</p>
  </div>
  <hr>
  <div class="mt-3">
    <h5>¿Para quién es este curso?
    </h5>
    <ul>
     <li>Personas que quieran aprender Angular desde cero</li>
     <li>Personas que quieran mejorar sus habilidades en Angular</li>
     <li>Personas que quieran usar mapas, JWT, autenticación robusta</li>
     <li>Personas que quieran aprender a desplegar aplicaciones de Angular en producción</li>
    </ul>
  </div>

</section>
