<div class="container-fluid col-md-11 p-0">
  <!-- Slider -->
 <ngx-slick-carousel class="carousel"
 #slickModal="slick-carousel"
 [config]="slideConfig"
 >
   <!-- Bucle para generar un artículo del carrusel por cada uno que tenga -->
   <div ngxSlickItem *ngFor="let slide of slides" class="slide ">
     <article>
       <!-- Articulos creados con Angular Material, Card-->
       <img src="{{slide.img}}" alt="{{slide.img}}" style="max-width: 100%;">
     </article>
   </div>
 </ngx-slick-carousel>
 </div>
